body{
    font-family: 'Poppins', sans-serif;
}
section h1{
    font-size: 40px;
    
}
#border{
    border-left: 5px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
    border-radius: 10px;
    padding-left: 2%;
   
}
.alignment{
    margin-left: 10%;
    margin-top: 7%;
}
.half-width{
    width: 50%;
}
p{
    opacity: 60%;
    font-weight: 600;
}


section img{
    height: 400px;
    width: 400px;
    margin-top: 10%;
}
#first-section{
    display: flex;
}


.link-button{
    background-image: linear-gradient(salmon,tomato);
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    
}
.icon{
    height: 100px;
    width: 100px;
    

}
#first-box{
    margin-left: 6%;
    background-color: #EDF5F5;
    width: 20%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: grey 10px 10px 40px;
    

}
.equal-width{
    display: flex;
}
#second-box{
    margin-left: 6%;
    background-color: #FFEEEE;
    width: 20%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: grey 10px 10px 40px;
    
}
#thrid-box{
    margin-left: 6%;
    background-color: #FEF3D8;
    width: 20%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: grey 10px 10px 40px;
}